:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --blackcolor: #2a2a2a;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --button-filter: #f5f4fa;
  --primary-text-color: #757575;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}

/* checked */
body {
  font-family: "Roboto", san-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slatecolor);
  background-color: var(--whitecolor);
  overflow-x: hidden;
}

/* checked */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* checked */
html {
  box-sizing: border-box;
}

/* checked */
*,
*::after *::before {
  box-sizing: inherit;
}

/* checked */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* checked */
.link {
  text-decoration: none;
  color: inherit;
}

/* checked */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* checked */
.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.menu {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: unset;
  }

  @media screen and (min-width: 1158px) {
    height: unset;
  }
}

/* checked */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* checked */
.section {
  padding: 96px 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 96px 0;
    width: 100%;
  }

  @media screen and (min-width: 1158px) {
    padding: 120px 0;

  }
}

/* checked */
.page-header {
  border-bottom: 1px solid var(--cornflower);
}

/* checked */
.logo-link {
  text-decoration: none;
  font-size: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

/* checked */
.logo-link>span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* checked */
.logo {
  color: var(--iriscolor);
}

.studio {
  color: var(--navyblue);
}

/* checked */
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
}

/* checked */
.button.primary {
  border-radius: 4px;
  background: var(--iriscolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--whitecolor);
  letter-spacing: 0.06em;
  font-size: 16px;
  padding: 16px 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms ease-in-out, color 250ms ease-in-out;
}

/* checked */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* checked */
.section.no-top-padding {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: block;
    padding-top: 0;
  }
}

/* checked */
.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

/* checked */
.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.what-we-do {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

/* checked */
.team {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    display: block;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }
}

/* checked */
.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 30px;
  flex-basis: unset;
  width: 270px;
  margin: 0 auto 72px;

  @media screen and (min-width: 768px) {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 30px;
    width: 270px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1158px) {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 30px;
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}

.team .item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }

}

/* checked */
.button.filter {
  background-color: var(--cloud);
  color: var(--iriscolor);
  line-height: 1.62;
  padding: 12px 24px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* checked */
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

.benefits {
  display: block;
  row-gap: 72px;
  column-gap: 72px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.benefits br {
  display: none;

  @media screen and (min-width: 768px) {
    display: unset;
  }

}

/* checked */
.benefits .title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;


  @media screen and (min-width: 768px) {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-size: 20px;
    font-weight: 500;
    color: var(--navyblue);
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: left;
  }

}

/* checked */
.benefits .item {
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    width: 312px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.benefits .item:last-child {
  margin-bottom: 0;
}

/* checked */
.benefits .description {
  color: var(--slatecolor);
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

/* checked */
.nav-menu .page,
.contacts-menu .contact {
  color: var(--navyblue);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-menu .page {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* checked */
.nav-menu {
  margin-left: 76px;
}

/* checked */
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

/* checked */
.nav-menu .item:not(:last-child) {
  margin-right: 40px;
}

.contacts-menu .item:not(:last-child) {
  margin-right: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

/* checked */
.contacts-menu {
  margin-left: auto;

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* checked */
.contacts-menu .contact {
  color: var(--slatecolor);
  font-weight: 400;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  @media screen and (min-width: 1158px) {
    padding: 31px 0;
  }
}


/* checked */
.hero {
  padding: 112px 0;
  text-align: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-m.jpg);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg-m@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-t.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-t@2x.jpg);
    }
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-d.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-d@2x.jpg);
    }
  }
}


.hero-title {
  font-size: 36px;
  color: var(--whitecolor);
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 36px;
  }


  @media screen and (min-width: 1158px) {
    color: var(--whitecolor);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }
}

/* checked */
.bg-team {
  background-color: var(--cloud);
}

/* checked */
.team .name {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* checked */
.team .position {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.section-item-wrap {
  padding: 0 16px;
}

/* checked */
.page-footer {
  padding: 96px 0;
  background-color: var(--navyblue);
  width: 100%;

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

/* checked */
.footer-description {
  color: var(--cloud);
  padding-top: 17.5px;
  line-height: 1.5;
  text-align: left;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    color: var(--cloud);
    padding-top: 17.5px;
    line-height: 1.5;
    text-align: left;
    justify-content: unset;
  }
}


/* checked */
.project .name {
  color: var(--navcolor);
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

/* checked */
.project .type {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.87;
}

/* checked */
.studio-footer {
  color: var(--cloud);
}

/* checked */
.filters {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    align-items: center;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

/* checked */
.filters .space+.space {
  margin-left: 8px;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

/* checked */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

/* checked */
.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 48px) / 3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* checked */
.substrate {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  background-color: var(--whitecolor);
}

/* checked */
.logo-footer {
  color: var(--iriscolor);
}

.benefits-svg-box {
  /* margin-bottom: 8px;
  display: flex;
  width: auto;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  border-radius: 4px; */

  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    background-color: var(--cloud, #f4f4fd);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
}

.team-social-list {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--iriscolor);
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms ease-in-out;
}

.team-social-svg {
  fill: currentColor;
}

.team-social-link:hover {
  background-color: var(--oceancolor);
}

.customers-list {
  display: flex;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.customers-item {
  justify-content: center;
  /* width: calc((100% - 150px) / 6 );
  height: 90px; */

}

.customers-link {
  display: inline-flex;
  width: 168px;
  height: 88px;
  border: 1px solid var(--lightslate);
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-list .customers-link:hover,
.customers-list .customers-link:focus {
  border-color: var(--oceancolor);
  color: var(--oceancolor);
}

.footer {
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {

    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -25px;
    padding-left: 0;
  }
}

.footer-socials {
  text-align: center;
  margin-top: 72px;
  margin-left: 0;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
    margin-top: 0;
  }
}

.footer-socials-text.text {
  font-weight: 500;
  color: var(--whitecolor);

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

.footer-list {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 1158px) {
    justify-content: flex-start;
  }

}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--iriscolor);
  border-radius: 50%;
  color: var(--cloud);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-svg {
  fill: currentColor;
}

.footer-socials-link:hover {
  background-color: var(--green);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iriscolor);
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project :hover .project-cover-text,
.project :focus .project-cover-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 428px) {
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 72px 24px 24px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 428px) {
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  transition: transform 250ms ease-in-out;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.nav-menu {
  display: none;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: 120px;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: 76px;
  }
}

.nav-menu .item {
  position: relative;
  margin-right: 40px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .page:focus::after {
  width: 0;
  content: "";
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.nav-menu .page.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--iriscolor);
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.nav-menu .page:hover::after,
.nav-menu .page:focus::after {
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
}


/* Modal Form */
.form-header {
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  margin-bottom: 34px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  width: 100%;

  @media screen and (max-width: 428px) {
    width: 100%;
  }

}

.form-button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iriscolor);
  color: var(--whitecolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--oceancolor);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  flex-shrink: 0;
  font-size: 14px;
  fill: currentColor;
  border-radius: 4px;
  border: 1px solid var(--navyblue, rgba(46, 47, 66, 0.40));
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--iriscolor);
}

.form-input:focus+.form-input-icon,
.form-input:hover+.form-input-icon {
  fill: var(--iriscolor);
}

.form-textarea {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid var(--navyblue, rgba(46, 47, 66, 0.40));
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  border-radius: 2px;
  fill: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon:hover,
.checkbox-icon:focus {
  border: 1px solid var(--iriscolor);
}

.check-mark {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue, rgba(46, 47, 66, 0.40));
  cursor: pointer;
}

.checkbox:checked+.checkbox-icon {
  background-size: contain;
  font: var(--whitecolor);
  fill: var(--whitecolor);
  border-radius: 2px;
  border: 1px solid var(--iriscolor, rgba(46, 47, 66, 0.40));
  background-color: var(--iriscolor);
  cursor: pointer;
}

.form-label {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate);
  width: 100%;
  display: block;
}

.form-label-textarea {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate);

}

.form-label-text {
  position: absolute;
  top: -20px;
}

.form-input-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: var(--navyblue);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 16px;
  gap: 8px;
  margin-bottom: 24px;
}

.form-agree-box_text {
  flex-shrink: 0;
  color: var(--slatecolor);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.form-agree-box_link {
  color: var(--iriscolor);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  width: 100%;
}

.form-agree-box_link:hover,
.form-agree-box_link:focus {
  color: var(--oceancolor);
  text-decoration-color: rgba(0, 0, 255, 0.0);
}

/* ? */
.modal-form {
  display: block;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-form-label {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--slatecolor);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  display: block;
  padding: 8px;
  border: 1px solid var(--blackcolor);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.footer-container-3 form {
  display: block;
  align-items: flex-end;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-form {
  text-align: center;
  margin-top: 72px;
  margin-left: 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    margin-top: 0;
    text-align: left;
  }
}

.footer-form_label {
  display: block;
  color: var(--whitecolor);
  font-weight: 500;

}

.footer-form-input {
  color: var(--whitecolor);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  flex-shrink: 0;
  background: var(--navyblue);
  border-radius: 4px;
  border: 1px solid var(--whitecolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
  }
}

.footer-form-input::placeholder {
  color: var(--whitecolor);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-form-button {
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 0;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--whitecolor);
  background: var(--iriscolor);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    align-self: flex-end;
    margin-left: 0px;
  }

  @media screen and (min-width: 1158px) {
    align-self: flex-end;
    margin-left: 24px;
    margin-bottom: 16px;
  }
}

.footer-form-svgsubscribe {
  width: 24px;
  height: 24px;
}

.footer-form-button:hover {
  background-color: var(--oceancolor);
}

.footer-subscription-form {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.footer-container {
  display: block;
  justify-content: center;
  align-items: center;


  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 96px;
    row-gap: 0;
  }
}

.highlight {
  color: var(--iriscolor);
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}


.footer-address {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}


/* Responsive */
.hamburger-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: -15px;
}


.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
}


.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--whitecolor);
  z-index: 999;

  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid var(--cornflower);
}

.mobile-menu {
  padding: 0;
  margin-top: 0px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--whitecolor);
  text-decoration: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger-container {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}


/* Hamburger Menu*/
.mobile-menu .hamburger-menu-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.5;
  color: var(--navyblue);
  padding: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .hamburger-menu-link:focus {
  color: var(--iriscolor);
}
.mobile-menu-item:hover {
  color: var(--oceancolor);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (max-width: 427px) {
    margin-bottom: 20px;
  }
}

.mobile-menu .hamburger-contact-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.5;
  color: var(--iriscolor);
  padding: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-contact-link:focus {

  color: var(--oceancolor);
}

.mobile-contact-link {
  margin-top: 284px;

  @media screen and (max-width: 427px) {
    margin-top: 180px;
  }
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .email-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--slatecolor);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:focus {
  color: var(--iriscolor);
}

.mobile-menu-social-list {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
}

.mobile-social-item a {
  margin-bottom: 40px;
}


.mobile-social-item:not(:last-child) {
  margin-right: 56px;
}

.mobile-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iriscolor);
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item a:hover,
.mobile-social-item a:focus {
  background-color: var(--green);
}

.mobile-menu .footer-list {
  display: flex;
  justify-content: flex-start;

@media screen (min-width: 320px) {
  display: flex;
  justify-content: space-between;
}

@media screen (min-width: 428px) {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
}

.mobile-menu .footer-socials-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--iriscolor);
  border-radius: 50%;
  color: var(--cloud);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.mobile-menu .footer-socials-link:focus {
  background-color: var(--green);
}
